@import "../modules/vars.scss";
@import "../modules/font.scss";
@import "../modules/functions.scss";
@import "../modules/ui.scss";


.header {
  position: relative;
  display: flex;
  z-index: $position-header-block;
  @include main-style-text;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 155px;
    width: 100%;
  }

  &__button {
    border: 1.18px solid $button-border;
    border-radius: 19.4922px;
  }
}



